* {
  border: 1px solid black;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.edificios-de-fundo {
  width: 100%;
  height: 100%;
}

.predio-secundario {
  width: 10%;
  height: 70%;
}